<%if(typeof Usuario !== 'undefined'){%>
  <%if(typeof TipoUsu !== 'undefined' && TipoUsu === 2){%>
    <!DOCTYPE html>
    <html>
    <head>
      <title>Chat</title>
        <link
        rel="shortcut icon"
        href="https://i.ibb.co/gFdWfc6/Whats-App-Image-2023-04-27-at-8-43-16-AM-1-modified.png"
        type="image/svg"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/chatLyra.css">
    </head>
    <%if(Enlace!=='undefined'&& Enlace.length!==0){%>
      <script>
        const Enlace = '<%=Enlace[0].id_Psicologo_Paciente%>';
    </script>
      </script>
    <%}%>
    <script>
    </script>
    <body>
        <a href="/Paciente/EditarPerfil" class="floating-button">
            <i class="fa fa-pencil icotamano"></i>
            <span class="button-text">Editar información personal</span>
        </a>
        <br>
        <a  href="/" class=" floating-button2">
            <i class="fa fa-close icotamano"></i>
            <span class="button-text">Salir</span>
        </a>

        <div>
      <button  class="microphone-btn" id="btnComenzarGrabacion">
        <i class="fa fa-microphone microicon"></i>
      </button>
      </div>
        <div class="microphonemessage">Habla conmigo</div>
        <script type="text/javascript" src="/js/envioYReciboDeTexto.js" defer></script>
    </body>
    </html>
  <%}else{%>
    <!DOCTYPE html>
    <html>
    <head>
      <title>Error - No tienes permisos</title>
    </head>
    <body>
      <script src="/js/Alertas.js"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script>
        NoPermisos()
      </script>
    </body>
    </html>
  <%}%>
<%}else{%>
<!DOCTYPE html>
<html>
<head>
<title>Error - Debes Iniciar Sesión</title>
</head>
<body>
<script src="/js/Alertas.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  SesionCaducada()
</script>
</body>
</html>
<%}%>